@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Enable daisyUI themes */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* Light theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-primary: #4682B4;              /* Steel Blue - primary color used for buttons, links, highlights */
  --color-primary-content: #263640;      /* White - text color on primary backgrounds (e.g., button text) */ 
  --color-secondary: #263640;            /* Dark Blue Gray - secondary color, can be used for backgrounds, accents */
  --color-base-100: #ffffff;              /* White - base background color for page or containers */
  --color-base-content: #262D34;          /* Dark Blue Gray - main text color on base backgrounds */
}

/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #FF6934;              /* Soft Orange - primary color used for buttons, links, highlights */ 
  
  /* Soft Orange - primary color used for buttons, links, highlights */
  --color-primary-content: #FFFFFF;      /* White - text color on primary backgrounds (e.g., button text) */

  --color-secondary: #262D34;            /* Charcoal Gray - secondary color, used for backgrounds, accents */
  --color-base-100: #262D34;             /* Charcoal Gray - base background color for page or containers */
  --color-base-content: #ef4444;        /* White - main text color on base backgrounds */
}

/* Font */
.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
}
