@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Enable daisyUI themes */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* Light theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-primary: #087ddc;
  /* Steel Blue - primary actions like buttons */
  --color-primary-content: #ffffff;
  /* White text on primary buttons */

  --color-secondary: #f4f7f9;
  /* Light Gray - clean, soft background */
  --color-secondary-content: #1f2d35;
  /* Dark Gray - readable text on light backgrounds */
}


/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #FF6934;
  /* Soft Orange - primary color used for buttons, links, highlights */

  --color-primary-content: #FFFFFF;

  --color-secondary: #262D34;
  /* Charcoal Gray - secondary color, used for backgrounds, accents */

  --color-secondary-content: #FFFFFF;
  /* White - text color on primary backgrounds (e.g., button text) */



}

/* Font */
.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: normal;
}